@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	background-color: #fff;
	font-family: 'Oswald', 'Futura', sans-serif;
	margin: 0; 
	padding: 0;
	text-align: center;
	}
	
#temper {
height: 500px;
width: 500px;
background-color: black;
border: 4px dashed #000;
  
-webkit-border-radius: 360px;
-moz-border-radius: 360px;
border-radius: 360px;

background-repeat: no-repeat;
background-size: cover;
margin-left: 33.3%;
text-align: center;
  
}

